<div id="page_wrapper">

  <div id="content">
    <h2>Hello!</h2>
    <p>
      I'm Josh, a student at The Iron Yard in Durham, North Carolina.
      I'll be a part of Cohort 5 of the Ruby on Rails class, which will run
      from August to November, 2015. I'm really stoked on being a Ruby on
      Rails developer!
    </p>
    <p>
      When I'm not coding, I operate a small farm and homestead in Hillsborough
      with my wife, 70 chickens, 2 pigs, and 90,000 bees (give or take...).
      Y'all can check out the farm happenings on our
      <a href="https://instagram.com/sugarbeanfarm">Instagram</a>.
  </div>

</div>
